html,
body {
  background-color: #6772e5;
  height: 100%;
}

body {
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  color: #ffff;
}

.content h1,
h1 {
  z-index: 100;
  font-size: 60px;
  color: #ffff;
  font-family: "Josefin Sans", sans-serif;
}

.btn {
  background-color: #16db93;
  border-color: #16db93;
  font-size: 22px;
  color: white;
}

.btn:hover {
  color: #6772e5;
}
svg {
  height: 20px;
  width: 25px;
}

p,
h6,
h2,
label {
  color: #ffffff;
}

a {
  color: #00a7e1;
}

.teacher-info div {
  padding: 0px;
  margin: 10px 0;
}

.hidden {
  display: none;
}

#enroll {
  border-radius: 5px;
  border: 2px solid #16db93;
  padding: 0px;
}

#enroll a {
  padding: 4px 4px;
}

#invoice {
  position: absolute;
  bottom: 100px;
  right: 100px;
  z-index: 0;
  opacity: 40%;
  height: 500px;
  width: 500px;
}

#teacher {
  z-index: 1;
}

p {
  font-size: 20px;
}
