<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet" />


  <!--Stripe-->
  <script src="https://js.stripe.com/v3/"></script>
  {% block stylesheet %}
  <link rel="stylesheet" href="../static/style.css">

  {% endblock stylesheet %}
  <title>{% block title %} {% endblock title %}</title>
  <script src="https://kit.fontawesome.com/c18557e782.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand px-3" style="background-color:transparent;">
    <a style="color:white; font-size: 20px;" class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- @AndreaDubuc the jinja template below is an if statement.
                    If a user is logged in, they'll see a logout option. If not, they'll see a login option -->
        {% if "curr_user" in session %}
        <li class="nav-item">
          <a style="color:white; font-size: 20px;" class="nav-link" href="/logout">Logout</a>
        </li>
        {% if "teacher" in session %}
        <li class="nav-item">
          <a href="/teacher/{{session['curr_user']}}/profile" class="nav-link"
            style="color:white; font-size: 20px;">Profile Page</a>
        </li>
        {% endif %} {% else %}



        <li class="nav-item active">
          <a style="color:white; font-size: 20px;" class="nav-link" href="/signup">Signup <span
              class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a style="color:white; font-size: 20px;" class="nav-link" href="/teacher/login">Login</a>
        </li>
        {% endif %}
        <li class="nav-item active">
          <a style="color:white; font-size: 20px;" class="nav-link" href="/about">About <span
              class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a href="/convert_quote" class="nav-link" style="color:white; font-size: 20px;">Convert Quote</a>
        </li>
        
      </ul>
    </div>
  </nav>
  {% block content %} {% endblock content %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>
{% block script %} {% endblock script %}

</html>