{% extends 'base.html' %} {% block title %} Checkout {% endblock title %} {%
block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='checkout.css') }}" />
{% endblock stylesheet %} {% block script %}
<script src="{{ url_for('static', filename='checkout.js') }}" defer></script>
{% endblock script %} {% block content %}
<span style="min-height:82px" class="container d-flex justify-content-center" id="messages"></span>
<div class="cell example example5" id="example-5" style="max-width:40%; margin: 0 auto">
  <form id="payment-form">
    <div id="example5-paymentRequest">
      <!--Stripe paymentRequestButton Element inserted here-->
    </div>
    <fieldset>

      <legend class="payment-request-available" data-tid="elements_examples.form.enter_card_manually">Or enter card
        details</legend>


      <div class="row">
        <div class="field">
          <label for="card" data-tid="elements_examples.form.card_label">Card</label>
          <div id="payment-element" class="input"></div>
        </div>
      </div>
      <button type="submit" data-tid="elements_examples.form.pay_button">Pay Now</button>
    </fieldset>

</div>
</form>
</section>
<style>
  @keyframes octocat-wave {

    0%,
    100% {
      transform: rotate(0)
    }

    20%,
    60% {
      transform: rotate(-25deg)
    }

    40%,
    80% {
      transform: rotate(10deg)
    }
  }

  @media (max-width:500px) {
    .github-corner:hover .octo-arm {
      animation: none
    }

    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }
  }
</style>
</main>
</div>

{% endblock content %}