{% extends 'base.html' %} {% block title %} Checkout {% endblock title %} {%
block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='checkout.css') }}" />
{% endblock stylesheet %} {% block script %}
<script src="{{ url_for('static', filename='script.js') }}" defer></script>
{% endblock script %} {% block content %}
<div class="cell example example5" id="example-5">
  <form id="payment-form">
    <div id="example5-paymentRequest">
      <!--Stripe paymentRequestButton Element inserted here-->
    </div>
    <fieldset>
      <legend class="card-only" data-tid="elements_examples.form.pay_with_card">Pay with card</legend>
      <legend class="payment-request-available" data-tid="elements_examples.form.enter_card_manually">Or enter card
        details</legend>
      <div class="row">
        <div class="field">
          <label for="name" data-tid="elements_examples.form.name_label">Name</label>
          <input id="name" data-tid="elements_examples.form.name_placeholder" class="input" type="text"
            placeholder="Jane Doe" required="" autocomplete="name">
        </div>
      </div>
      <div class="row">
        <div class="field">
          <label for="email" data-tid="elements_examples.form.email_label">Email</label>
          <input id="email" data-tid="elements_examples.form.email_placeholder" class="input" type="text"
            placeholder="janedoe@gmail.com" required="" autocomplete="email">
        </div>
        <div class="field">
          <label for="phone" data-tid="elements_examples.form.phone_label">Phone</label>
          <input id="phone" data-tid="elements_examples.form.phone_placeholder" class="input" type="text"
            placeholder="(941) 555-0123" required="" autocomplete="tel">
        </div>
      </div>
      <div data-locale-reversible>
        <div class="row">
          <div class="field">
            <label for="address" data-tid="elements_examples.form.address_label">Address</label>
            <input id="address" data-tid="elements_examples.form.address_placeholder" class="input" type="text"
              placeholder="185 Berry St" required="" autocomplete="address-line1">
          </div>
        </div>
        <div class="row" data-locale-reversible>
          <div class="field">
            <label for="city" data-tid="elements_examples.form.city_label">City</label>
            <input id="city" data-tid="elements_examples.form.city_placeholder" class="input" type="text"
              placeholder="San Francisco" required="" autocomplete="address-level2">
          </div>
          <div class="field">
            <label for="state" data-tid="elements_examples.form.state_label">State</label>
            <input id="state" data-tid="elements_examples.form.state_placeholder" class="input empty" type="text"
              placeholder="CA" required="" autocomplete="address-level1">
          </div>
          <div class="field">
            <label for="zip" data-tid="elements_examples.form.postal_code_label">ZIP</label>
            <input id="zip" data-tid="elements_examples.form.postal_code_placeholder" class="input empty" type="text"
              placeholder="94107" required="" autocomplete="postal-code">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="field">
          <label for="card" data-tid="elements_examples.form.card_label">Card</label>
          <div id="payment-element" class="input"></div>
        </div>
      </div>
      <button type="submit" data-tid="elements_examples.form.pay_button">Pay $25</button>
    </fieldset>
    <span id="messages"></span>
</div>
</form>
</section>
<style>
  @keyframes octocat-wave {

    0%,
    100% {
      transform: rotate(0)
    }

    20%,
    60% {
      transform: rotate(-25deg)
    }

    40%,
    80% {
      transform: rotate(10deg)
    }
  }

  @media (max-width:500px) {
    .github-corner:hover .octo-arm {
      animation: none
    }

    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }
  }
</style>
</main>
</div>

{% endblock content %}