{% extends 'base.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock stylesheet %}
{% block title %}
    Signup
{% endblock title %}

{% block content %}
<div class="container">
    <img class="inline-block" src="../static/assets/tutor-student.jpeg" alt="">
    <span class="d-flex flex-column content">
        <h1 class="text-center align-items-center">Welcome!</h1>
        <span class="d-flex justify-content-between">
            <a href="/teacher/signup" class="btn btn-primary">Teacher Signup</a>
            <a href="/student/signup" class="btn btn-primary">Student Signup</a>
        </span>
    </span>
</div>
{% endblock content %}