{% extends 'base.html' %} {% block title %} Subscriptions {% endblock title %}
{% block stylesheet %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='subscription_list.css') }}"
/>
{% endblock stylesheet %} {% block content %}

<div class="container">
    <h1 class="display-1 text-center">Billing Address</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% for msg in get_flashed_messages() %}
                <p class="bg-danger">{{msg}}</p>
            {% endfor %}
            <form action="" method="post">
                {{form.hidden_tag()}}
                {% for field in form
                if field.widget.input_type !='hidden' %}
                <div class="form-group">
                    {{field.label }}
                    {{field(class_="form-control")}}
                    {% for err in field.errors %}
                    <small class="form-text text-danger">
                        {{err}}
<!-- TODO Maybe use bootstraps radio buttons here: https://getbootstrap.com/docs/4.0/components/buttons/#checkbox-and-radio-buttons
-->
                    </small>
                    {% endfor %}
                </div>
             
                {% endfor %}
                <button class="btn btn-success btn-lg">Next</button>
                <button class="btn btn-danger btn-lg">Go Back</button>
            </form>
        </div>

    </div>

</div>
























<div class="container d-flex flex-column align-items-center">
  <div class="row"><h2 class="m-5">Subcribe to Our Plans</h2></div>
  <div class="row flex-row">
    {% for product in products %}
    <div class="card mx-3 border border-danger" style="width: 13rem">
      <div class="container contents">
          <h5 class="card-title">{{product["name"]}}</h5>
          <p class="card-text">

          {% for price in prices if price["product"] == product["id"] %}
          <p class="price">
            {{"{p:.2f}".format(p=price["unit_amount"]/100)}} 
            <br/>
          </p>
          <p class="price_details">
            Per {{price["recurring"]["interval"].capitalize()}}
            <br/>
            Billed Monthly
  
          </p>
          {% endfor %}
        </div>
      </p>
      <div class="row w-100 flex-row justify-content-center">
        <a href="#" class="btn btn-primary m-2">Select</a>
      </div>
      
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
